Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length
HeaderFilterRegex: '^(include|src|tests)/'
FormatStyle: file
WarningsAsErrors: ''
