BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
PointerAlignment: Right
ReferenceAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
